.header{
    background-color: green;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.cabecalho{
    display:flex ;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.menu {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

ody {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #009440;
    color: white;
    text-align: center;
    padding: 10px 0;
}
nav {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}
nav a:hover {
    background-color: #555;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}
.main-content {
    margin-bottom: 20px;
}
footer {
    background-color: #000000;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.menu li{
    margin-left: 20px;
}

.menu li:first-child {
    margin-left: 0;
}

.menu a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Ajuste o padding conforme necessário */
}

.logo-left img, .logo-right img {
    max-height: 50px; /* Ajuste o tamanho conforme necessário */
    max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do container */
}

.logo-left {
    flex: 1; /* Ajusta o tamanho proporcionalmente */
}

.logo-right {
    flex: 1; /* Ajusta o tamanho proporcionalmente */
    text-align: right; /* Alinha a imagem à direita */
}